<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".home_music.Main"
            android:exported="false" />
        <activity
            android:name=".home.MainActivity"
            android:exported="false" />
    </application>

</manifest>